Repository softeerbootcamp-2nd/A2-CarTag, pull requests merged in 2023-08, with the labels that each got.

#134 [FIX] 아이콘 안보이는 버그 해결
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
Labels: bug, alert, frontend, main task

#137 [FEAT] #111: 이미지 토스트 팝업 구현
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/ExtraOptionContainer copy.tsx
Labels: feature, frontend, main task

#143 [TEST] #142: car bought count 테스트 구현
  backend/src/test/java/autoever2/cartag/repository/CarRepositoryTest.java
Labels: backend, test, sub task

#152 Feat/guide component
  frontend/src/components/common/icons/Icons.tsx
  frontend/src/components/dimmedBg/guide.tsx
  frontend/src/containers/ModelTypePage/ModelSelectContainer.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/pages/TrimPage.tsx
Labels: feature, frontend, main task

#168 [FEAT] #99: 페이지 전환 애니메이션 방향 구분
  frontend/src/components/pageAnimation/AnimationPresence.tsx
  frontend/src/components/pageAnimation/PageAnimationWrapper.tsx
  frontend/src/components/router/CustomRouter.tsx
Labels: feature, frontend

#180 [REFACTOR] #169: 여러가지 리팩토링
  frontend/src/App.tsx
  frontend/src/components/histogram/BarHistogram.tsx
  frontend/src/components/layout/NavBar.tsx
  frontend/src/components/modal/CloseModal.tsx
  frontend/src/components/modal/DimmedBackground.tsx
  frontend/src/components/modal/GuideModal.tsx
  frontend/src/components/modal/SimilarQuoteModal.tsx
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/components/priceStaticBar/PriceStaticSlider.tsx
  frontend/src/components/priceStaticBar/SimilarPriceBar.tsx
  frontend/src/components/priceStaticBar/SimilarPriceSlider.tsx
  frontend/src/components/router/CustomRouter.tsx
  frontend/src/containers/InteriorPage/InteriorSelectContainer.tsx
  frontend/src/containers/Modal/ModalContainer.tsx
  frontend/src/containers/ModelTypePage/ModelSelectContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/ExtraOptionContainer.tsx
  frontend/src/containers/ResultPage/HistogramContainer.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimSelectContainer.tsx
  frontend/src/context/CloseModalContext.tsx
  frontend/src/context/GuideMoadlContext.tsx
  frontend/src/context/SimilarQuoteModalContext.tsx
  frontend/src/pages/ResultPage.tsx
  frontend/src/pages/TrimPage.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/url.ts
Labels: feature, frontend

#183 [FIX] #179: 버그 해결
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/pages/OptionPage.tsx
Labels: bug, alert, frontend, main task

#185 트림 상세 데이터 + 파워트레인 HMG 데이터
  backend/src/main/java/autoever2/cartag/controller/ModelController.java
  backend/src/main/java/autoever2/cartag/domain/model/ModelDetailMappedDto.java
  backend/src/main/java/autoever2/cartag/domain/model/ModelShortMappedDto.java
  backend/src/main/java/autoever2/cartag/domain/model/PowerTrainMappedDto.java
  backend/src/main/java/autoever2/cartag/repository/ModelRepository.java
  backend/src/main/java/autoever2/cartag/service/ModelService.java
  backend/src/test/java/autoever2/cartag/controller/ModelControllerTest.java
  backend/src/test/java/autoever2/cartag/repository/ColorRepositoryTest.java
  backend/src/test/java/autoever2/cartag/repository/ModelRepositoryTest.java
  backend/src/test/java/autoever2/cartag/service/ModelServiceTest.java
  backend/src/test/resources/insert/insert-model-h2.sql
Labels: bug, feature, backend, sub task

#189 [FIX] #188: AnimatePresence 에러 수정
  frontend/src/components/layout/NavBar.tsx
  frontend/src/components/pageAnimation/PageAnimationWrapper.tsx
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/components/router/CustomRouter.tsx
Labels: bug, frontend

#197 [REFACTOR] #194: context api 중첩 제거
  frontend/src/App.tsx
  frontend/src/components/contextProviders/Providers.tsx
Labels: enhancement, frontend

#211 [FEAT] #104: 결과페이지 애니메이션
  frontend/src/components/details/Details.tsx
  frontend/src/containers/ResultPage/DetailContainer.tsx
Labels: frontend

#217 [FEAT] #205: 드래그 애니메이션 구현
  frontend/.env
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
Labels: feature, frontend, main task

#227 Feat/api setting
  frontend/.gitignore
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/TrimPage.tsx
  frontend/src/utils/apis.ts
Labels: feature, frontend, sub task

#232 [FIX] #205: 드래그 시 스타일 컴포넌트 많이 생기는 경고 해결
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
Labels: bug, alert, frontend

#244 [FEAT] #213: 모델 타입 페이지 api 연동
  frontend/src/components/powerTrainData/PowerTrainData.tsx
  frontend/src/components/router/CustomRouter.tsx
  frontend/src/components/summary/PriceSummary.tsx
  frontend/src/containers/ModelTypePage/ModelBannerContainer.tsx
  frontend/src/containers/ModelTypePage/ModelFooterContainer.tsx
  frontend/src/containers/ModelTypePage/ModelSelectContainer.tsx
  frontend/src/containers/ModelTypePage/ModelTypeBannerContainer.tsx
  frontend/src/containers/ModelTypePage/ModelTypeFooterContainer.tsx
  frontend/src/containers/ModelTypePage/ModelTypeSelectContainer.tsx
  frontend/src/context/ModelTypeProvider.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/ModelTypePage.tsx
  frontend/src/utils/apis.ts
Labels: feature, frontend, sub task

#246 [BUG FIX] #245: 예산 설정바 버그 해결
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/components/priceStaticBar/PriceStaticSlider.tsx
Labels: bug, alert, frontend, main task

#247 [REFACTOR] #213: 한글 코드 변경
  frontend/src/utils/constants.ts
Labels: enhancement, alert, frontend

#252 [BUG FIX] #250: 예산 설정 바 이동 중 드래그 방지
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/containers/ModelTypePage/ModelTypeSelectContainer.tsx
Labels: bug, alert, frontend, main task

#263 [FEAT] #251: 선택 값 저장
  frontend/src/App.tsx
  frontend/src/components/histogram/BarHistogram.tsx
  frontend/src/components/layout/NavBar.tsx
  frontend/src/components/modal/CloseModal.tsx
  frontend/src/components/modal/GuideModal.tsx
  frontend/src/components/modal/SimilarQuoteModal.tsx
  frontend/src/components/router/CustomRouter.tsx
  frontend/src/components/summary/PriceSummary.tsx
  frontend/src/containers/Modal/ModalContainer.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimSelectContainer.tsx
  frontend/src/context/CloseModalProvider.tsx
  frontend/src/context/GuideModalProvider.tsx
  frontend/src/context/ItemProvider.tsx
  frontend/src/context/SimilarQuoteModalProvider.tsx
  frontend/src/context/TrimProvider.tsx
  frontend/src/pages/TrimPage.tsx
  frontend/src/utils/constants.ts
Labels: feature, frontend

#290 [FEAT] #220: 외장 색상 가격 반영
  frontend/src/containers/InnerColorPage/InnerColorSelectContainer.tsx
  frontend/src/containers/OuterColorPage/OuterColorSelectContainer.tsx
Labels: feature, frontend

#293 [BUG FIX] #292: 디폴트 값 반영되도록 해결
  frontend/src/containers/ModelTypePage/ModelTypeSelectContainer.tsx
Labels: bug, alert, frontend, main task

#296 [BUGFIX] #294 : 360 image 로딩 버그 수정
  frontend/src/containers/OuterColorPage/OuterColorBannerContainer.tsx
  frontend/src/reducer/car360Reducer.ts
Labels: bug, frontend

#301 [BUGFIX] #300: 360 이미지 버그 수정
  frontend/src/containers/OuterColorPage/OuterColorBannerContainer.tsx
Labels: bug, frontend

#304 [REFACTOR] #302: '회', ',' 붙이기
  frontend/src/components/cards/ModelTypeCard.tsx
  frontend/src/components/cards/OuterColorCard.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
Labels: bug, frontend

#305 [FEAT] #295: 데모 대비 스냅샷
  frontend/src/components/cards/OptionCard.tsx
  frontend/src/components/common/banner/Banner.tsx
  frontend/src/components/common/hmgTag/HmgTag.tsx
  frontend/src/components/tabs/OptionTab.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/DefaultOptionContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/SubOptionContainer.tsx
  frontend/src/utils/constants.ts
Labels: frontend

#314 [FEAT] #295: 옵션 페이지 세부사항
  frontend/src/components/cards/ModelTypeCard.tsx
  frontend/src/components/cards/OptionCard.tsx
  frontend/src/components/common/banner/Banner.tsx
  frontend/src/components/tabs/OptionTab.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/SubOptionContainer.tsx
  frontend/src/context/ItemProvider.tsx
Labels: bug, alert

#319 [FEAT] #316: 견적 요약 모달 창
  frontend/src/App.tsx
  frontend/src/components/common/buttons/ToggleButtons.tsx
  frontend/src/components/details/Details.tsx
  frontend/src/components/details/SummaryItem.tsx
  frontend/src/components/modal/QuoteSummaryModal.tsx
  frontend/src/components/modal/WhiteModal.tsx
  frontend/src/components/summary/PriceSummary.tsx
  frontend/src/containers/Modal/ModalContainer.tsx
  frontend/src/containers/OuterColorPage/OuterColorBannerContainer.tsx
  frontend/src/containers/OuterColorPage/OuterColorSelectContainer.tsx
  frontend/src/containers/ResultPage/DetailContainer.tsx
  frontend/src/containers/ResultPage/ResultFooterContainer.tsx
  frontend/src/context/ItemProvider.tsx
  frontend/src/context/OuterColorProvider.tsx
  frontend/src/context/QuoteSummaryModalProvider.tsx
  frontend/src/pages/OuterColorPage.tsx
Labels: feature, frontend

#321 [FEAT] #316: 견적요약 옵션 가격 반영
  frontend/src/components/modal/QuoteSummaryModal.tsx
Labels: feature, frontend

#330 [FEAT] #328: UI 수정
  frontend/src/components/cards/OptionCard.tsx
  frontend/src/components/common/buttons/RoundButton.tsx
  frontend/src/components/details/SummaryItem.tsx
  frontend/src/containers/InnerColorPage/InnerColorBannerContainer.tsx
Labels: enhancement, frontend

#325 [FIX] #323: 탭 선택하면 해당 데이터로 수정
  frontend/src/components/tabs/OptionTab.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
Labels: bug, alert, frontend

#333 [FEAT] #332: 모델 타입 UI 수정, 결과페이지 리팩토링
  frontend/src/components/details/Details.tsx
  frontend/src/components/details/DetailsItemList.tsx
  frontend/src/containers/ModelTypePage/ModelTypeBannerContainer.tsx
  frontend/src/containers/ResultPage/DetailContainer.tsx
  frontend/src/context/ModelTypeProvider.tsx
Labels: feature, frontend

#335 [FEAT] error 처리
  frontend/src/components/modal/ErrorModal.tsx
  frontend/src/containers/ModelTypePage/ModelTypeBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/InnerColorPage.tsx
  frontend/src/pages/ModelTypePage.tsx
  frontend/src/pages/OptionPage.tsx
  frontend/src/pages/OuterColorPage.tsx
  frontend/src/pages/TrimPage.tsx
Labels: feature, frontend

#361 [FEAT] #343: ItemProvider 기반으로 데이터 연동
  frontend/src/components/common/buttons/ToggleButtons.tsx
  frontend/src/components/modal/QuoteSummaryModal.tsx
  frontend/src/containers/InnerColorPage/InnerColorBannerContainer.tsx
  frontend/src/containers/InnerColorPage/InnerColorSelectContainer.tsx
  frontend/src/containers/ModelTypePage/ModelTypeBannerContainer.tsx
  frontend/src/containers/ModelTypePage/ModelTypeSelectContainer.tsx
  frontend/src/containers/OuterColorPage/OuterColorSelectContainer.tsx
  frontend/src/containers/ResultPage/ResultBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimSelectContainer.tsx
  frontend/src/context/InnerColorProvider.tsx
  frontend/src/context/ItemProvider.tsx
  frontend/src/context/ModelTypeProvider.tsx
  frontend/src/context/OuterColorProvider.tsx
  frontend/src/context/TrimProvider.tsx
  frontend/src/hooks/useDefaultInfo.ts
  frontend/src/pages/ModelTypePage.tsx
  frontend/src/pages/OuterColorPage.tsx
  frontend/src/reducer/itemReducer.ts
  frontend/src/utils/apis.ts
  frontend/src/utils/constants.ts
Labels: feature, frontend

#329 [FEAT] #268: 선택한 값 적용됨
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/components/priceStaticBar/PriceStaticSlider.tsx
  frontend/src/utils/constants.ts
Labels: feature, frontend

#362 Feat/result page api
  frontend/src/components/details/SummaryItem.tsx
  frontend/src/containers/ModelTypePage/ModelTypeFooterContainer.tsx
  frontend/src/containers/ResultPage/DetailContainer.tsx
  frontend/src/containers/ResultPage/QuoteSummaryContainer.tsx
  frontend/src/containers/ResultPage/ResultBannerContainer.tsx
  frontend/src/context/ItemProvider.tsx
  frontend/src/reducer/itemReducer.ts
Labels: feature, frontend

#374 [FEAT] #367: nav 바 트림 선택안하면 disable
  frontend/src/App.tsx
  frontend/src/components/layout/NavBar.tsx
  frontend/src/containers/TrimPage/TrimSelectContainer.tsx
  frontend/src/context/ProgressProvider.tsx
Labels: feature, frontend, main task

#378 [FIX] #376: 예산 설정바 over 200 경고 해결
  frontend/src/components/priceStaticBar/PriceStaticSlider.tsx
Labels: bug, frontend

#354 [FEAT] #331, #353: 옵션 페이지
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cards/OptionCard.tsx
  frontend/src/components/searchBar/SearchBar.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/DefaultOptionContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/OptionSelectContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/SubOptionContainer.tsx
  frontend/src/context/SubOptionProvider.tsx
  frontend/src/utils/constants.ts
Labels: feature, frontend

#385 [FEAT] #363: 공유하기 기능
  .DS_Store
  frontend/src/App.tsx
  frontend/src/components/common/icons/Icons.tsx
  frontend/src/components/modal/ShareModal.tsx
  frontend/src/containers/Modal/ModalContainer.tsx
  frontend/src/containers/ResultPage/ResultFooterContainer.tsx
  frontend/src/context/ShareModalProvider.tsx
  frontend/src/hooks/useEfficiencyData.ts
  frontend/src/hooks/useFetch.ts
  frontend/src/hooks/useSharedInfo.ts
  frontend/src/pages/ResultPage.tsx
  frontend/src/utils/apis.ts
Labels: feature, frontend

#391 [BUGFIX] #389: 360도 이미지 요청시 CORS에러 수정
  frontend/src/components/modal/QuoteSummaryModal.tsx
  frontend/src/containers/OuterColorPage/OuterColorBannerContainer.tsx
  frontend/src/pages/OuterColorPage.tsx
Labels: bug, frontend

#390 [BE] 유사견적 추천 후 요약 데이터 제공
  .github/workflows/test.yml
  backend-recommend/recommend.py
  backend/.gitignore
  backend/src/main/java/autoever2/cartag/controller/CarController.java
  backend/src/main/java/autoever2/cartag/controller/ModelController.java
  backend/src/main/java/autoever2/cartag/controller/QuoteController.java
  backend/src/main/java/autoever2/cartag/controller/RecommendController.java
  backend/src/main/java/autoever2/cartag/domain/model/PowerTrainMappedDto.java
  backend/src/main/java/autoever2/cartag/domain/quote/HistorySearchDto.java
  backend/src/main/java/autoever2/cartag/domain/quote/HistoryShortDto.java
  backend/src/main/java/autoever2/cartag/domain/quote/QuoteDataDto.java
  backend/src/main/java/autoever2/cartag/domain/quote/QuoteInfoDto.java
  backend/src/main/java/autoever2/cartag/exception/ErrorCode.java
  backend/src/main/java/autoever2/cartag/exception/GlobalExceptionHandler.java
  backend/src/main/java/autoever2/cartag/exception/InvalidDataException.java
  backend/src/main/java/autoever2/cartag/exception/ServerException.java
  backend/src/main/java/autoever2/cartag/recommend/RecommendConnector.java
  backend/src/main/java/autoever2/cartag/repository/OptionRepository.java
  backend/src/main/java/autoever2/cartag/repository/QuoteRepository.java
  backend/src/main/java/autoever2/cartag/service/CarService.java
  backend/src/main/java/autoever2/cartag/service/ColorService.java
  backend/src/main/java/autoever2/cartag/service/ModelService.java
  backend/src/main/java/autoever2/cartag/service/OptionService.java
  backend/src/main/java/autoever2/cartag/service/QuoteService.java
  backend/src/main/java/autoever2/cartag/service/RecommendService.java
  backend/src/test/java/autoever2/cartag/controller/CarControllerTest.java
  backend/src/test/java/autoever2/cartag/controller/ModelControllerTest.java
  backend/src/test/java/autoever2/cartag/controller/OptionControllerTest.java
  backend/src/test/java/autoever2/cartag/controller/QuoteControllerTest.java
  backend/src/test/java/autoever2/cartag/integration/CarTest.java
  backend/src/test/java/autoever2/cartag/integration/ModelTest.java
  backend/src/test/java/autoever2/cartag/integration/QuoteTest.java
  backend/src/test/java/autoever2/cartag/repository/OptionRepositoryTest.java
  backend/src/test/java/autoever2/cartag/repository/QuoteRepositoryTest.java
  backend/src/test/java/autoever2/cartag/service/CarServiceTest.java
  backend/src/test/java/autoever2/cartag/service/ColorServiceTest.java
  backend/src/test/java/autoever2/cartag/service/QuoteServiceTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/insert/insert-sales-h2.sql
Labels: backend, sub task

#395 [REFACTOR] #381: 옵션 이미지 최적화 및 로딩 컴포넌트 추가
  frontend/src/components/cards/OptionCard.tsx
  frontend/src/components/cards/OuterColorCard.tsx
  frontend/src/components/common/banner/Banner.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/DefaultOptionContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/OptionSelectContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/SubOptionContainer.tsx
  frontend/src/containers/OuterColorPage/OuterColorBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/pages/OptionPage.tsx
  frontend/src/utils/constants.ts
Labels: frontend

#421 [REFACTOR] #420: 전체적인 UI 수정
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/components/priceStaticBar/PriceStaticSlider.tsx
  frontend/src/containers/ModelTypePage/ModelTypeBannerContainer.tsx
  frontend/src/containers/ModelTypePage/ModelTypeSelectContainer.tsx
Labels: frontend

#424 [FEAT] #422: 로컬 스토리지 저장
  frontend/src/components/common/banner/Banner.tsx
  frontend/src/components/modal/GuideModal.tsx
  frontend/src/components/modal/QuoteSummaryModal.tsx
  frontend/src/context/ItemProvider.tsx
  frontend/src/context/ProgressProvider.tsx
  frontend/src/hooks/useSharedInfo.ts
  frontend/src/pages/ModelTypePage.tsx
Labels: frontend

#418 [FEAT] #409: 검색 키 이벤트
  frontend/public/images/logo.svg
  frontend/src/components/common/icons/Icons.tsx
  frontend/src/components/searchBar/SearchBar.tsx
  frontend/src/components/tabs/OptionTab.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/OptionSelectContainer.tsx
  frontend/src/containers/OptionPage/OptionSelectContainer/SubOptionContainer.tsx
  frontend/src/pages/OptionPage.tsx
Labels: frontend

#426 [FEAT] #425: 유사 견적 예산 설정바 UI 수정
  frontend/src/components/modal/SimilarQuoteModal.tsx
  frontend/src/components/priceStaticBar/PriceStaticBar.tsx
  frontend/src/components/priceStaticBar/PriceStaticSlider.tsx
  frontend/src/components/priceStaticBar/SimilarPriceBar.tsx
  frontend/src/components/priceStaticBar/SimilarPriceSlider.tsx
  frontend/src/utils/constants.ts
Labels: frontend

#428 [FIX] #427: 차종 선택 nav bug
  frontend/src/components/common/navbar/CarSelectContainer.tsx
  frontend/src/components/common/navbar/NavBar.tsx
  frontend/src/context/ItemProvider.tsx
Labels: bug, alert, frontend

#430 [FIX] #429: 트림 선택하면 다 초기화
  frontend/src/containers/TrimPage/TrimSelectContainer.tsx
Labels: bug, frontend

#432 [BUG FIX] #431: 외장 색상 이름 선택한 값으로 변경
  frontend/src/containers/InnerColorPage/InnerColorBannerContainer.tsx
  frontend/src/containers/OuterColorPage/OuterColorBannerContainer.tsx
  frontend/src/pages/InnerColorPage.tsx
  frontend/src/pages/OuterColorPage.tsx
Labels: bug, alert, frontend

#441 [FIX] #438: api 변경으로 코드 수정
  frontend/src/context/ItemProvider.tsx
  frontend/src/hooks/useSharedInfo.ts
  frontend/src/pages/ResultPage.tsx
Labels: bug, alert, frontend, main task

#448 [BUG FIX] #435: QA
  frontend/src/App.tsx
  frontend/src/components/cards/SummaryOptionCard.tsx
  frontend/src/components/common/navbar/NavBar.tsx
  frontend/src/components/details/SummaryItem.tsx
  frontend/src/components/histogram/BarHistogram.tsx
  frontend/src/components/modal/QuoteSummaryModal.tsx
  frontend/src/components/modal/SimilarQuoteModal.tsx
  frontend/src/components/priceStaticBar/SimilarPriceBar.tsx
  frontend/src/components/priceStaticBar/SimilarPriceSlider.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/containers/OptionPage/OptionFooterContainer.tsx
  frontend/src/containers/ResultPage/DetailContainer.tsx
  frontend/src/containers/ResultPage/HistogramContainer.tsx
  frontend/src/hooks/useSharedInfo.ts
  frontend/src/pages/OptionPage.tsx
  frontend/src/utils/constants.ts
Labels: enhancement, feature, frontend

#450 [FEAT] #449: 차종 선택 가능
  frontend/src/components/common/navbar/CarSelectContainer.tsx
  frontend/src/components/common/navbar/NavBar.tsx
  frontend/src/containers/OptionPage/OptionBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimSelectContainer.tsx
  frontend/src/context/ItemProvider.tsx
  frontend/src/pages/ModelTypePage.tsx
  frontend/src/pages/TrimPage.tsx
  frontend/src/reducer/itemReducer.ts
  frontend/src/utils/constants.ts
Labels: feature, frontend, main task

#451 [REFACTOR] 360 이미지 리팩토링
  frontend/src/containers/OuterColorPage/OuterColorBannerContainer.tsx
Labels: enhancement, frontend

#458 [FIX] #456: 르블랑만 다음 단계 가능하게 함
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
  frontend/src/containers/TrimPage/TrimSelectContainer.tsx
  frontend/src/pages/TrimPage.tsx
  frontend/src/utils/constants.ts
Labels: bug, frontend

#463 [FIX] #462: 깜빡임 해결
  frontend/src/containers/TrimPage/TrimBannerContainer.tsx
Labels: frontend
